$primary: #EFF8FF;
$secondary: #FF7700;
$dark: #242424;
$blue: #1161FF;
$green: #18B923;
$red: #E22121;
$yellow: #ffee00;

$white: #FFF;


$large : 1200px;
$laptops: 992px;
$tablets: 768px;
$phones: 600px;