*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #242424;
  position: relative;
  background-color: #EFF8FF;
  height: 100vh;
}

body::before {
  /* image at background */
  z-index: -1;
  position: absolute;
  content: url("../assets/cubeBack.svg");
  width: 500px;
  height: 500px;
  margin-left: -100px;
  margin-top: -120px;
}

h1, h2 {
  font-size: 1.575rem;
  font-weight: 700;
}

h3 {
  font-size: 0.763rem;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

p {
  font-size: 16px;
}

.container {
  position: relative;
  padding: 100px 0;
  width: 100% !important;
}

/* resposnive */
@media (min-width: 768px) {
  .container {
    padding: 100px 50px;
  }
  h1, h2 {
    font-size: 36px;
    font-weight: 700;
  }
  h3 {
    font-size: 19px;
    font-weight: 700;
  }
  p {
    font-size: 18px;
  }
  .container {
    padding: 100px 100px;
    height: 100vh;
  }
  .scramble {
    font-size: 1.9rem !important;
  }
  .time {
    font-size: 7rem !important;
  }
  #code {
    bottom: 25px !important;
  }
  .bottom-buttons {
    left: 25px !important;
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
  }
}

.btn {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 30px;
  position: relative !important;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  margin-top: 15px;
  cursor: pointer;
}

.btn-primary {
  background-color: #FF7700;
  color: #FFF;
  border: 1px solid #FF7700;
}

.btn-border {
  border: 1px solid #242424;
  color: #242424;
  background: transparent !important;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background: #db6600;
}

.btn-go-back {
  margin-top: 50px;
}

.alert {
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  min-width: 80%;
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.alert .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.alert .closebtn:hover {
  color: black;
}

.input-warning {
  border: 2px solid #E22121 !important;
}

.input-warning-none {
  border: none;
}

.nickname-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.nickname-container p {
  margin-top: 10px;
}

.nickname-container .nickname-input-container {
  position: relative;
  margin-top: 55px;
  padding: 20px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFF;
  width: 300px;
  -webkit-box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 100px;
}

.nickname-container .nickname-input-container input:not(input[type="submit"]) {
  width: 230px;
  height: 50px;
  outline: none;
  border: 1px solid #a4a4a4;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px 0px;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
  font-size: 16px;
}

.nickname-container .nickname-input-container input:not(input[type="submit"]):focus {
  border: 1px solid #1161FF;
}

.nickname-container .nickname-input-container input:not(input[type="submit"])[name="code"] {
  margin-bottom: 25px;
}

.nickname-container .nickname-input-container #nicknameContainerButton {
  margin-top: 55px;
}

.start-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  /*display:none;*/
}

.start-container p {
  margin-top: 10px;
}

.start-container .start-container-btn {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFF;
  width: 300px;
  height: 250px;
  -webkit-box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.05);
}

.start-container .start-container-btn .create-game, .start-container .start-container-btn .join-game {
  margin-bottom: 11px;
  margin-top: 11px;
}

.start-container .start-container-credit {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  color: #242424;
}

.choose-puzzle-container {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.choose-puzzle-container p {
  margin-bottom: 60px;
}

.choose-puzzle-container .choose-puzzle-button-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (120px)[4];
      grid-template-columns: repeat(4, 120px);
  grid-gap: 20px;
  grid-row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.choose-puzzle-container .choose-puzzle-button-container .puzzle-button {
  width: 110px;
  height: 110px;
  background: #FFF;
  -webkit-box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.05);
  -webkit-transition: all .3s;
  transition: all .3s;
  overflow: hidden;
  position: relative;
}

.choose-puzzle-container .choose-puzzle-button-container .puzzle-button img {
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
}

.choose-puzzle-container .choose-puzzle-button-container .puzzle-button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background: #f7f7f7;
}

.choose-puzzle-container .choose-puzzle-button-container .disabled img {
  opacity: 0.4;
}

.timer-section {
  display: none;
}

.waiting-for-start-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.waiting-for-start-overlay img {
  width: 200px;
  height: 200px;
}

.waiting-for-start-leader-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 250px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.waiting-for-start-leader-overlay .start-game-btn {
  height: 100px;
  margin-top: 50px;
  width: 60%;
  background-color: #18B923;
  font-size: 30pt;
  font-weight: 700;
  text-decoration: none;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.joined-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.joined-users p {
  margin: 0 15px;
}

.sidebar {
  position: absolute;
  width: 270px;
  height: 100vh;
  background-color: #FFF;
  top: 0;
  left: -300px;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  /* Handle on hover */
}

.sidebar .sidebar-arrow-btn {
  position: fixed;
  top: 45%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  left: 0px;
  width: 60px;
  height: 60px;
  background-color: #e6e6e6;
  border-radius: 0 15px 15px 0;
  z-index: 99999;
}

.sidebar .sidebar-arrow-btn img {
  width: 60px;
  height: 60px;
}

.sidebar::-webkit-scrollbar {
  width: 7px;
}

.sidebar::-webkit-scrollbar-track {
  background: white;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #bebebe;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
}

.sidebar h3 {
  font-size: 35px;
  margin: 20px 0 0 25px;
}

.sidebar table {
  position: relative;
  width: 100%;
  /*padding: 15px;*/
  border-spacing: 15px 15px;
  font-weight: 600;
  font-size: 1vw;
}

.sidebar table .tbody-row-group {
  width: 100%;
}

.sidebar table .default-tbody {
  display: table;
  width: 100%;
}

.sidebar table .round-marker {
  margin-top: 25px;
}

.sidebar table .round-marker td {
  border-top: 1px solid black;
  font-weight: 400;
}

.sidebar table td {
  font-size: 1rem;
  height: 20px;
}

.sidebar table .table-header {
  font-weight: 700;
}

.sidebar table tr {
  margin-top: 15px;
}

.sidebar table .table-no {
  border-right: 1px solid black;
}

.timer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%;
}

.timer-container .puzzle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.563rem;
}

.timer-container .scramble {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.938rem;
  text-align: center;
}

.timer-container .times {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.timer-container .times .time {
  font-size: 4rem;
  font-weight: 700;
}

.timer-container .times .ao5,
.timer-container .times .ao12 {
  font-size: 2.5rem;
  font-weight: 700;
}

#code {
  position: absolute;
  bottom: 135px;
}

.bottom-buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 1;
  background-color: #FFF;
}

.bottom-buttons .settings-btn {
  margin-right: 15px;
  position: relative;
  padding: 25px;
  background-color: #FF7700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-buttons #openPlayersBtn {
  background-color: #18B923;
}

.bottom-buttons #exitRoom {
  background-color: #E22121;
}

.hidden-on-start {
  display: inline-block;
}

.playerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 65px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.playerRow .view-more-btn {
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #1161FF;
  font-weight: 500;
  text-align: center;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

.playerRow .view-more-btn:hover {
  background-color: #4483ff;
}

.playerRow .null-col {
  padding: 10px 55px;
}

.times {
  display: none;
}

.times .times-div table tr td {
  padding: 8px 20px;
  font-size: 18px;
}

.back-btn {
  display: none;
  position: absolute;
  bottom: 35px;
  right: 75px;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #1161FF;
  font-weight: 500;
  text-align: center;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

.back-btn:hover {
  background-color: #4483ff;
}

.modal {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 105;
  opacity: 1;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  /*pointer-events: none;*/
  height: 100vh;
  padding: 100px 50px;
}

.modal .modal-container {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 35px 75px;
  background-color: #FFF;
  width: 700px;
}

.modal .modal-container h2 {
  margin: 0 auto;
}

.modal .modal-container hr {
  height: 2px;
  background-color: #b0b0b0;
  margin: 10px 0;
}

.modal .modal-container .color-settings-container {
  margin-top: 25px;
}

.modal .modal-container .prefferences-container {
  margin-top: 35px;
}

.modal .modal-container .cont-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.modal .modal-container .cont-row h4 {
  margin-right: 10px;
  color: #272727;
}

.modal .modal-container .reset-btn {
  position: absolute;
  bottom: 35px;
  right: 175px;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  color: #242424;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

.modal .modal-container .reset-btn:hover {
  background-color: #d7d7d7;
}

.modal .modal-container .apply-btn {
  position: absolute;
  bottom: 35px;
  right: 75px;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #1161FF;
  font-weight: 600;
  text-align: center;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

.modal .modal-container .apply-btn:hover {
  background-color: #4483ff;
}

.modal .settings-exit-btn {
  position: absolute;
  top: 50px;
  right: 50px;
}

.start-game-modal-container {
  height: 300px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-game-modal-container hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.transition::before {
  pointer-events: none;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #FFF;
  height: 100%;
  width: 100%;
  -webkit-animation: flash 0.6s ease-out;
          animation: flash 0.6s ease-out;
  z-index: 99;
  opacity: 0;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.alert-unload {
  -webkit-animation: AlertloadOut 500ms ease;
          animation: AlertloadOut 500ms ease;
}

@-webkit-keyframes AlertloadOut {
  0% {
    top: 100px;
  }
  100% {
    top: -200px;
  }
}

@keyframes AlertloadOut {
  0% {
    top: 100px;
  }
  100% {
    top: -200px;
  }
}

.sidebar-anim-open {
  -webkit-animation: SideBarAnim 200ms linear;
          animation: SideBarAnim 200ms linear;
}

.sidebar-anim-close {
  animation: SideBarAnim 200ms reverse;
}

@-webkit-keyframes SideBarAnim {
  from {
    left: -300px;
  }
  to {
    left: 0px;
  }
}

@keyframes SideBarAnim {
  from {
    left: -300px;
  }
  to {
    left: 0px;
  }
}

.sidebar-btn-anim-open {
  -webkit-animation: SideBarBtnAnim 200ms linear;
          animation: SideBarBtnAnim 200ms linear;
}

.sidebar-btn-anim-close {
  animation: SideBarBtnAnim 200ms reverse;
}

@-webkit-keyframes SideBarBtnAnim {
  from {
    left: 0px;
  }
  to {
    left: 270px;
  }
}

@keyframes SideBarBtnAnim {
  from {
    left: 0px;
  }
  to {
    left: 270px;
  }
}

.notification {
  position: absolute;
  bottom: 140px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-animation: Notification 1s linear;
          animation: Notification 1s linear;
  z-index: 10000;
}

@-webkit-keyframes Notification {
  from {
    bottom: 140px;
  }
  to {
    bottom: 220px;
  }
}

@keyframes Notification {
  from {
    bottom: 140px;
  }
  to {
    bottom: 220px;
  }
}
/*# sourceMappingURL=style.css.map */